body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    box-sizing: border-box; /* Ensure padding and border are included in width and height */
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s ease;
    z-index: 1000;
    background-color: #0c4da2; /* Ensure default background color */
}

.navbar.transparent {
    background-color: transparent;
}

.navbar.scrolled {
    background-color: #0c4da2; 
}

.navbar .logo {
    padding: 0;
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 80px;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.navbar ul li a:hover {
    background-color: #c8a008;
    border-radius: 5px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    padding-top: calc(20px + 50px);
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.shuttle-timings ul {
    list-style: none;
    padding: 0;
}

.shuttle-timings li {
    padding: 8px;
    background: #f9f9f9;
    margin-bottom: 5px;
    border-left: 4px solid #0c4da2;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #0c4da2;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #000000;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
