body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; 
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s ease;
    z-index: 1000;
    background-color: #0c4da2; 
}

.navbar.transparent {
    background-color: transparent;
}

.navbar.scrolled {
    background-color: #0c4da2; 
}

.navbar .logo {
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
    padding-top: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 80px;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.navbar ul li a:hover {
    background-color: #c8a008;
    border-radius: 5px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    padding-top: calc(20px + 50px);
}

h2 {
    color: #0c4da2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color:#0c4da2;
    color: white;
}

.note {
    margin-top: 10px;
    font-style: italic;
    color: red;
}

.peak-hour {
    margin-top: 10px;
    font-weight: bold;
    color: #0c4da2;
}

.gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.gallery img {
    max-width: 30%;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gallery img:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
